<div class="sidebar-label">Principale</div>
{% if request.user.admin_permission_map.dashboard_access %}
<a class="nav-link{% if admin_nav_section == 'dashboard' %} active{% endif %}" href="{% url 'admin_dashboard' %}">
    <span class="nav-icon">+</span> Pannello di controllo
</a>
{% endif %}
{% if request.user.admin_permission_map.company_profiles_manage or request.user.admin_permission_map.company_documents_manage or request.user.admin_permission_map.preventives_manage or request.user.admin_permission_map.invoices_manage %}
<a class="nav-link{% if admin_nav_section == 'aziende' %} active{% endif %}" href="{% url 'admin_aziende' %}">
    <span class="nav-icon">{% include 'includes/icons/company.html' %}</span> Aziende
</a>
{% endif %}
{% if request.user.admin_permission_map.workers_manage or request.user.admin_permission_map.medical_records_manage %}
<a class="nav-link{% if admin_nav_section == 'lavoratori' %} active{% endif %}" href="{% url 'admin_lavoratori' %}">
    <span class="nav-icon">{% include 'includes/icons/worker.html' %}</span> Lavoratori
</a>
{% endif %}
{% if request.user.admin_permission_map.company_profiles_manage %}
<a class="nav-link{% if admin_nav_section == 'azienda_nuova' %} active{% endif %}" href="{% url 'admin_crea_azienda' %}">
    <span class="nav-icon">+</span> Nuova azienda
</a>
{% endif %}
{% if request.user.admin_permission_map.preventives_manage %}
<a class="nav-link{% if admin_nav_section == 'preventivi' %} active{% endif %}" href="{% url 'admin_preventivi' %}">
    <span class="nav-icon">{% include 'includes/icons/document.html' %}</span> Preventivi
</a>
{% endif %}
{% if request.user.admin_permission_map.invoices_manage %}
<a class="nav-link{% if admin_nav_section == 'fatture' %} active{% endif %}" href="{% url 'admin_fatture' %}">
    <span class="nav-icon">{% include 'includes/icons/document.html' %}</span> Fatture
</a>
{% endif %}
{% if request.user.is_superuser %}
<div class="sidebar-label" style="margin-top:16px">Sistema</div>
<a class="nav-link" href="/admin/">
    <span class="nav-icon">{% include 'includes/icons/settings.html' %}</span> Pannello Admin
</a>
{% endif %}
